<% include('../layouts/header.ejs') %>
<style>

</style>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="stylesheets/signup.css" rel="stylesheet" type="text/css" media="all" />

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">



	<div class="main-w3layouts wrapper">
		<h1> Login </h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<p style="color: red;">  
					<% if (error){%> 
						<%=error %>
						<%} %>
				 </p>
				 
				<form action="/loginValidation" method="POST">
					<input class="text" type="email" name="email" id="email" placeholder="Email" required="">
					<input class="text email" type="password" name="password" id="password" placeholder="password" required="">
					<input type="submit" id="signup" value="SIGNUP">
				</form>
				<p>Don't have an Account <a href="/signup"> Signup Now!</a></p>
			</div>
		</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
<% include('../layouts/footer.ejs') %>